{{ ansible_managed | comment }}

{% if snmpd_agentaddress is defined %}
agentaddress {{ snmpd_agentaddress }}

{% endif %}
{% if snmpd_rocommunities is defined %}
{% for rc in snmpd_rocommunities %}
{% if rc.source is defined %}
rocommunity {{ rc.community }} {{ rc.source }}
{% else %}
rocommunity {{ rc.community }}
{% endif %}
{% endfor %}

{% endif %}
{% for security_name in snmpd_security_names %}
com2sec {{ security_name.name }} {{ security_name.source }} {{ security_name.community }}
{% endfor %}

{% for group in snmpd_groups %}
group {{ group.name }} {{ group.security_model }} {{ group.security_name }}
{% endfor %}

{% for view in snmpd_views %}
{% if view.mask is defined %}
view {{ view.name }} {{ view.type }} {{ view.subtree }} {{ view.mask }}
{% else %}
view {{ view.name }} {{ view.type }} {{ view.subtree }}
{% endif %}
{% endfor %}

{% for access in snmpd_accesses %}
access {{ access.group }} "{{ access.context }}" {{ access.security_model }} {{ access.security_level }} {{ access.prefix }} {{ access.read }} {{ access.write }} {{ access.notif }}
{% endfor %}

syslocation {{ snmpd_syslocation }}
syscontact {{ snmpd_syscontact }}

dontLogTCPWrappersConnects {{ snmpd_dontlogtcpwrappersconnects }}

{% if snmpd_processes is defined %}
{% for process in snmpd_processes %}
{% if process.maximum is defined and process.minimum is defined %}
proc {{ process.name }} {{ process.maximum }} {{ process.minimum }}
{% elif process.maximum is defined %}
proc {{ process.name }} {{ process.maximum }}
{% else %}
proc {{ process.name }}
{% endif %}
{% endfor %}
{% endif %}

{% if snmpd_scripts is defined %}
{% for script in snmpd_scripts %}
exec {{ script.name }} {{ script.program }} {{ script.arguments }}
{% endfor %}
{% endif %}

{% if snmpd_disks is defined %}
{% for disk in snmpd_disks %}
{% if disk.minimum is defined %}
disk {{ disk.path }} {{ disk.minimum }}
{% else %}
disk {{ disk.path }}
{% endif %}
{% endfor %}
{% endif %}

{% if snmpd_load is defined %}
load {{ snmpd_load.one_minute_average }} {{ snmpd_load.five_minute_average }} {{ snmpd_load.fifteen_minute_average }}
{% endif %}

{% if snmpd_trap_sinks is defined %}
{% for sink in snmpd_trap_sinks %}
{% if sink.community is defined %}
trap2sink {{ sink.host }} {{ sink.community }}
{% else %}
trap2sink {{ sink.host }}
{% endif %}
{% endfor %}
{% endif %}
